{% extends "base.html" %}
{% block content %}
	<h3>About Me</h3>
	<img src="http://townmapsusa.com/images/maps/map_of_silver_spring_md.jpg" alt ="Hometown Silver Spring, MD" id = "about_img_1"/>
	<br>
	<p>Born and raised in Silver Spring, MD. I am passionate about global health, economics (primarily economic development) and biotechnology. My interests include learning new languages, practising martial arts, playing chess and soccer (although I am a terrible player), and of course traveling. I am known to cook "interesting" recipes, I enjoy mixing different cuisines. Currently I am working at an awesome startup, <a href="https://www.aledade.com">Aledade</a> as a Data Analyst. At Aledade we are working on improving the US healthcare system!</p>
	<div>
		<h3>Most popular topics of conversation with me</h3>
		<ul>
			<li>Economics</li>
			<li>Biology</li>
			<li>International Affairs</li>
			<li>Technology</li>
			<li>Statistics</li>
			<li>History</li>
		</ul>
	</div>
	<div>
		<h3>Typical Activities</h3>
		<ul>
			<li>Exploring data</li>
			<li>Enjoying coffeeshops and restaurants</li>
			<li>Attending art and live music events</li>
			<li>Reading books, trade journals and academic journals.</li>
		</ul>
	</div>
	<div>
		<h3>Contact Info</h3>
			<ul>
			<li><a href = "https://github.com/morganmendis">Github Profile</a></li>
			<li><a href = "https://www.linkedin.com/in/morgan-mendis-82250553">LinkedIn Profile</a></li>
			<li><a href="mailto:morganandrewmendis@gmail.com">Email Me!</a></li>
		</ul>
	</div>
{% endblock %}