{% extends "base.html" %}
{% block content %}
	<h4><em>The really helpful things will not be done from the centre; they cannot be done by big organizations; but they can be done by the people themselves.~ E.F. Schumacher</em></h4>
	<p>Welcome to my website, I have created this website to share my thoughts regading my passions and interests (<a href="aboutme.html">About Me</a>), which derive from either data that I have been able to collect or my experiences while traveling. In 2016, I plan to develop and share some interesting data products regarding public health and choosing a profession.</p>
	<img src="http://i.imgur.com/rHXcPha.jpg" alt="interesting" align="middle" id="index_1_img">
{% endblock %}